@model homework_64_Atai.ViewModels.CafeAndDishesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div class=row>
    <div class=col-7>
    <h4>Cafe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=> model.Cafe.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafe.Name)
        </dd>
        
        <dd class = "col-sm-12">
          <img src="@Model.Cafe.Image" class="card-img-top" alt="cafe">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cafe.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafe.Description)
        </dd>
    </dl>
    </div>

</div>
    @if (Model.User.Role == "user")
{
    
   <div id="karzina" class="text-right" style="position: sticky; top: 1px;border: 1px black"></div>

}
<div> 
    @if (Model.User.Role == "Admin" || Model.User.Role == "prouser")
{
    <a asp-action="Edit" asp-route-id="@Model.Cafe.Id">Edit  |</a> 
    <a asp-action="Create" asp-controller="Dishes" asp-route-cafeId="@Model.Cafe.Id">Add dish  |</a> 
}
    <a asp-action="Index">Back to List</a>
</div>

<h2>Dishes</h2>
<div class="row">
@foreach (var item in Model.Dishes) {
        
    <div class="card col-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@item.Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
    <p class="card-text">@item.Description</p>
     @if (Model.User.Role == "Admin" || Model.User.Role == "prouser")
{
                <a asp-action="Edit" asp-controller="Dishes" asp-route-id="@item.Id" asp-route-cafeId="@Model.Cafe.Id">Edit  |</a> 
                <a asp-action="Details" asp-controller="Dishes" asp-route-id="@item.Id" asp-route-cafeId="@Model.Cafe.Id">Details  |</a> 
                <a asp-action="Delete" asp-controller="Dishes" asp-route-id="@item.Id" asp-route-cafeId="@Model.Cafe.Id">Delete</a>
}
                    @if(Model.User.Role == "user")
                    {
                        <input type="button" id="order" onclick="makeOrder('@item.Id','@Model.Cafe.Id')" value="Get korzina"/>
                    }
  </div>
</div>
}
</div>

@section Scripts
{
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
          const makeOrder= function(dishId,cafeId) {
              $('#karzina').load('@Url.Action("MakeOrder", "Dishes")?dishId=' + dishId +'&cafeId='+ cafeId);
           }     
     </script>

}